h1 {
  position: absolute;
  top: 20px;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
}
button {
  padding: 1%;
  border-radius: 5px;
  background-color: rgb(89, 144, 213);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
}
.boutonArticle {
  z-index: 1;
  position: fixed;
  bottom: 0px;
  width: 33%;
}
.p1 {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(226, 46, 76);
  position: relative;
  bottom: 50%;
}
.h1text {
  margin-left: 30px;
}
.h1dubas {
  animation: color 6s infinite;
  font-weight: bolder;
}

.image2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 246px;
  object-fit: cover;
}

@keyframes color {
  0% {
    color: red;
  }
  15% {
    color: rgb(179, 255, 0);
  }
  30% {
    color: rgb(128, 0, 21);
  }
  45% {
    color: rgb(0, 60, 255);
  }
  60% {
    color: rgb(160, 73, 137);
  }

  75% {
    color: rgb(171, 127, 86);
  }
  100% {
    color: rgb(128, 38, 0);
  }
}
