header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: rgb(89, 144, 213);
  color: whitesmoke;
  border-bottom: 1px solid white;
  z-index: 1;
}

h1 {
  color: white;
  font-size: 3rem;
}
